#rokbridge-form fieldset.adminform {margin: 0}
#rokbridge-form .current {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}
.rokbridge-status {box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}
.rokbridge-status table.adminlist thead th {background: -moz-linear-gradient(center top , #FFFFFF 0px, #F2F2F2 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 -1px 0 #DDDDDD inset, 0 -2px 0 #FFFFFF inset;}
table.adminlist tbody tr td.centeralign,
table.adminlist tbody tr td.status {text-align:center;}
p.testurl {font-size:120%;font-weight:bold;text-align:center;padding:15px;}
div.icon-48-rokbridge {background-image:url(../images/rokbridge-48.png);}

td.status { font-weight: bold;text-align:center;}
td.status span {display:block;width:113px;height:21px;color:#fff;text-shadow: 1px 1px #333;line-height:21px;text-indent:30px;text-align:left;margin:0 auto;}
tr.installed td.status span { background:url(../images/status-installed.png); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}
tr.notinstalled td.status span { background:url(../images/status-notinstalled.png);box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}

.centeralign a {background:url(../images/button-bg.png);display:block;width:82px;height:18px;line-height:18px;text-shadow: 1px 1px #fff;margin:0 auto;}
.centeralign a:link, .centeralign a:hover, .centeralign a:visited {color:#333;text-decoration:none;font-size:11px;text-align:center;}

.note {background:#FFF7A6 url(../images/note-bg.png) repeat-x; margin: 15px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);}
.note .corner {background: url(../images/note-corner.png) 100% 0 no-repeat;color:#333;padding:15px;font-size:120%; box-shadow:0 1px 0 rgba(255, 255, 255, 0.8) inset}
.note h3 {margin:0 0 10px;}

/*J3.0*/
div.control-label #params_sef_rewrite-lbl {background: url("../images/icon-16-notice-note.png") no-repeat scroll right top transparent;padding-right:18px;}

/*J2.5*/
li #params_sef_rewrite-lbl {background: url("../images/icon-16-notice-note.png") no-repeat scroll right top transparent;line-height: 16px;}

#modal-about iframe {border:0;}
#modal-about iframe html {width: auto; height: auto;}
